body {
    background: linear-gradient(rgba(87, 114, 132, 1), rgba(1, 3, 56, .4));
}

main {
    height: 93vh;
    overflow-y: scroll;
}


.attack {
    animation: animate-attack 2s linear;
}

@keyframes animate-attack {
    0% {background: red;}
    50% {background: pink;}
    100% {background: red;}
}