{% extends '_layout.html' %}


{% block title %}
Battle History
{% endblock %}

{% block content %}
<main>

    {% for round in rounds %}
    <div class="card rounded-lg m-2">
        <div class="card-body">
            <h3 class="card-title">Winner: {{round.result.username or 'pending'}}</h3>
            <h5 class="card-subtitle mb-2 text-muted">Round: {{loop.index0 + 1}}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Week of: {{round.created_at.date()}}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Round id: {{round.id}}</h5>
            <hr>
            <div class="d-flex flex-row justify-content-between">
                <span>
                    {% if round.player_1_initiative > 0 %}
                    <h4>Ready for Battle</h4>
                    {% else %}
                    <h4>Standing By</h4>
                    {% endif %}
                    <h5 class='text-muted'>{{game.player_1.username}}</h5>
                </span>
                <span>
                        {% if round.player_2_initiative > 0 %}
                        <h4>Ready for Battle</h4>
                        {% else %}
                        <h4>Standing By</h4>
                        {% endif %}
                    <h5 class='text-muted'>{{game.player_2.username}}</h5>
                </span>
            </div>
        </div>
        <div class="card-footer d-flex flex-row-reverse">
            <form action={{ url_for('rounds.show', game_id=game.id, round_id=round.id)}} method="GET">
                <input type='hidden' name='round_num' value="{{ loop.index0 + 1}}" />
                <input type='submit' class='btn btn-info' value="View Round">
            </form>
            
        </div>
    </div>
    
    {% endfor %}
</main>
{% endblock %}