{% extends '_layout.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            Round: 1 <br>
            You are player # {{player_variable}}
        </div>
        <div class="col">
            Week Ending: DATE
        </div>
        <div class="col">
            Dice: {{dice_array}}
        </div>
    </div>
    <div class="row">
        {% for i in range(0, num_dice) %}
        <div class="col dice-box">
            {% if roll_array[i] != 0 %}
            <button type='submit' class='dice-btn' disabled>
                {{roll_array[i]}}
            </button>
            {% else %}
            <form action={{ url_for('rounds.roll_dice', game_id = game_id, player=player_variable)}} method="POST">
                <input value='' type='hidden' name='roll_value'>
                <input value='' type='hidden' name='roll_index'>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type='submit' class='dice-btn'>
                    ROLL DICE
                </button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="row stat-row">
        <div class="col-7">ATTACK</div>
        <div class="col-5">
            <form id='attack-form' action="#">
                <div class="form-group">
                    <select id='attack-select' class='form-control'>
                        <option value=0 selected>Apply Bonus</option>
                        {% for i in range(0,num_dice) %}
                        <option class='roll-option-{{i}}' value={{roll_array[i]}} id='attack-select-{{i}}'>{{roll_array[i]}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row stat-row">
        <div class="col-7">HITPOINTS</div>
        <div class="col-5">
            <form id='hitpoints-form' action="#">
                <div class="form-group">
                    <select id='hitpoints-select' class='form-control'>
                        <option value=0 selected>Apply Bonus</option>
                        {% for i in range(0,num_dice) %}
                        <option class='roll-option-{{i}}' value={{roll_array[i]}} id='hitpoints-select-{{i}}'>{{roll_array[i]}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row stat-row">
        <div class="col-7">LUCK</div>
        <div class="col-5">
            <form id='luck-form' action="#">
                <div class="form-group">
                    <select id='luck-select' class='form-control'>
                        <option value=0 selected>Apply Bonus</option>
                        {% for i in range(0,num_dice) %}
                        <option class='roll-option-{{i}}' value={{roll_array[i]}} id='luck-select-{{i}}'>{{roll_array[i]}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <button class="btn btn-primary text-light game-btn">
                        SUBMIT STAT BONUSES
                    </button>

                </div>
            </form>
        </div>
        <div class="col">
            <form>
                <div class="form-group">
                    <button class="btn btn-danger text-light game-btn">
                        ROLL INITIATIVE AND BATTLE

                    </button>

                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="battle-box">
                SHOW BATTLE HERE

            </div>
        </div>
    </div>
</div>

<script>
    const diceStatus = [...{{ dice_array }}]

    let $selects = $('select');

    $selects.on('change', function () {

        // enable all options
        $selects.find('option').prop('disabled', false);

        // loop over each select, use its class name to 
        // disable the options in the other selects
        $selects.each(function () {
            let selectIndex = this.options['selectedIndex']
            let rollIndex = selectIndex - 1
            $selects.not(this)
                .find(`.roll-option-${rollIndex}`)
                .prop('disabled', true);
        });
    });


    let dice = {
        sides: 6,
        roll: function () {
            let randomNumber = Math.floor(Math.random() * this.sides) + 1;
            return randomNumber;
        }
    }

    let diceButtons = document.getElementsByClassName('dice-btn')

    for (let i = 0, l = diceButtons.length; i < l; i++) {
        //apply class name to dice-btn forms
        diceButtons[i].parentElement.classList.add(`dice-form-${i}`)

        //add event listeners
        diceButtons[i].addEventListener('click', (e) => {
            e.preventDefault()
            const submitForm = document.querySelector(`.dice-form-${i}`)
            const rollValue = dice.roll()

            //get children of form
            const formChildren = submitForm.children

            //update roll_value and roll_index form fields
            formChildren[0].value = rollValue
            formChildren[1].value = i

            submitForm.submit()

            //send roll_value to server to save in db via ajax
            //ice boxed for now
            // $.ajax({
            //     type: 'POST',
            //     url: "http://127.0.0.1:5000/round/roll",
            //     data: JSON.stringify({
            //         "roll_value": rollValue,
            //         "roll_index": i
            //     }),
            //     error: (e) => {
            //         console.log(e)
            //     },
            //     dataType: "json",
            //     contentType: "application/json"
            // })
            //     .then((data) => {
            //         diceStatus[i] = 0
            //         e.target.disabled = true
            //         e.target.innerHTML = rollValue
            //         console.log(data)
            //     })
        })
    }

</script>

<style>
    .dice-box {
        height: 20vh;
        background-color: aquamarine;
        margin: 8px;
    }

    .stat-row {
        background-color: palevioletred;
        margin-top: 4px;
        margin-bottom: 4px;
        height: 6vh;
    }

    .game-btn {
        width: 90%;
        height: 12vh;
        white-space: normal;
    }

    .battle-box {
        height: 100%;
        background-color: pink;
    }
</style>

{% endblock %}