{% extends '_layout.html' %}

{% block content %}

<div class="container">
    <div class="info-header row">
        <div class="col">
            Round: {{round_num}} <br>
            Player # {{player_variable}}
        </div>
        <div class="col">
            Week of:<br>
            {{round.created_at.date()}}
        </div>
        <div class="col">
            Dice Rolls:
            <br>{{num_dice}} / 3
        </div>
    </div>
    <div class="row">
        {% if num_dice %}
            {% for i in range(0, num_dice) %}
            <div class="col d-flex flex-column justify-content-center dice-box">
                {% if roll_array[i] != 0 %}
                
                <img class ='dice-placeholder' src='/static/images/dice-images/d-{{roll_array[i]}}.png'>
            
                {% else %}
                <form class='mx-auto' action={{ url_for('rounds.roll_dice', game_id = game_id, player=player_variable, round_id=round_id)}} method="POST">
                    <input value='' type='hidden' name='roll_value'>
                    <input value='' type='hidden' name='roll_index'>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type='hidden' name='round_num' value="{{ round_num}}" />
                    <button type='submit' class='btn btn-info dice-placeholder text-dark'>
                        ROLL<br>DICE
                    </button>
                </form>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <div class="col d-flex justify-content-around dice-box">
                <h1>No Dice</h1>
                
                <h1>¯\_(ツ)_/¯</h1>
            </div>
        {% endif %}
    </div>
    <div class="row stat-row">
        <div class="col-4">ATTACK</div>
        <div class="col-3" id='attack-stat'>{{player_stats[0]}}</div>
        <div class="col-5">
            <form id='attack-form' action="#">
                <div class="form-group">
                    <select id='attack-select' class=' custom-select form-control'>
                        <option value=0 selected>Power Up</option>
                        {% for i in range(0,num_dice) %}
                        <option class='roll-option-{{i}}' value={{roll_array[i]}} id='attack-select-{{i}}'>
                            {{roll_array[i]}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row stat-row">
        <div class="col-4">HITPOINTS</div>
        <div class="col-3" id='hitpoints-stat'>{{player_stats[1]}}</div>
        <div class="col-5">
            <form id='hitpoints-form' action="#">
                <div class="form-group">
                    <select id='hitpoints-select' class='custom-select form-control'>
                        <option value=0 selected>Power Up</option>
                        {% for i in range(0,num_dice) %}
                        <option class='roll-option-{{i}}' value={{roll_array[i]}} id='hitpoints-select-{{i}}'>
                            {{roll_array[i]}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row stat-row">
        <div class="col-4">LUCK</div>
        <div class="col-3" id='luck-stat'>{{player_stats[2]}}</div>
        <div class="col-5">
            <form id='luck-form' action="#">
                <div class="form-group">
                    <select id='luck-select' class='custom-select form-control'>
                        <option value=0 selected>Power Up</option>
                        {% for i in range(0,num_dice) %}
                        <option class='roll-option-{{i}}' value={{roll_array[i]}} id='luck-select-{{i}}'>
                            {{roll_array[i]}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id='submit-stats-form'
                action={{ url_for('rounds.submit_stats', game_id = game_id, round_id=round_id, player=player_variable) }} method="POST">
                <div class="form-group">
                    <input type='hidden' id='attack-input' name='attack-input'>
                    <input type='hidden' id='hitpoints-input' name='hitpoints-input'>
                    <input type='hidden' id='luck-input' name='luck-input'>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type='hidden' name='round_num' value="{{ round_num}}" />
                    <button id='submit-stats-btn' class="btn btn-info text-dark game-btn">
                        SUBMIT POWER UPS
                    </button>

                </div>
            </form>
        </div>
        <div class="col">
            <form id='submit-initiative-form' action={{ url_for('rounds.battle', game_id = game_id, round_id=round_id, player=player_variable) }} method="POST">
                <div class="form-group">
                    <input type='hidden' id='initiative_input' name='initiative_input'>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type='hidden' name='round_num' value="{{ round_num}}" />
                    <button id='battle-btn' class="btn btn-warning text-dark game-btn">
                        ROLL INITIATIVE AND BATTLE
                    </button>

                </div>
            </form>
        </div>
    </div>
    
        <div class="battle-box">
            {% if player_initiative > 0 %}
                {% if opponent_initiative <= 0 %}
                <img id='duck-placeholder' src='/static/images/duck-images/duck-placeholder.png'/>
                <div id='battle-label'>
                    <h5>
                        Waiting for opponent...
                    </h5>
                </div>
                {% else %}
                <div id="battle-stage">
                    <img src='/static/images/duck-images/duck-3.png'>
                    <img src='/static/images/duck-images/duck-1.png'>
                    
                </div>
                {% endif %}
            {% else %}
                <img id='duck-placeholder' src='/static/images/duck-images/duck-placeholder.png'/>
                <div id='battle-label'>
                    <h5>
                        Apply power ups and roll initiative<br>to begin battle!
                    </h5>
                </div>
            {% endif %}

        </div>
        
</div>

<script>
    const diceStatus = [...{{ dice_array }}]

    const initiative = {{ player_initiative }}

    const result = {{ round_result or 'null'}}

    if (initiative >= 0) {
        $('#battle-btn').prop('disabled', true)
    }

    //disable select buttons if stat boosters submitted
    //and if player_x_initiative not 0
    if (initiative) {
        $('select').prop('disabled', true)
        $('#submit-stats-btn').prop('disabled', true)
    }

    //disabling options for other select menus if option is selected in any select menu
    let $selects = $('select');

    $selects.on('change', function () {

        // enable all options
        $selects.find('option').prop('disabled', false);

        // loop over each select, use its class name to 
        // disable the options in the other selects
        $selects.each(function () {
            let selectIndex = this.options['selectedIndex']
            let rollIndex = selectIndex - 1
            $selects.not(this)
                .find(`.roll-option-${rollIndex}`)
                .prop('disabled', true);
        });
    });

    //updating stats when booster selected
    $('#attack-select').on('change', (e) => {
        const multiplier = e.target.value
        $("#attack-stat").html({{ player_stats[0]}} + 10 * multiplier) //can enter base stat from db if desired
    })

    $('#hitpoints-select').on('change', (e) => {
        const multiplier = e.target.value
        $("#hitpoints-stat").html({{ player_stats[1]}} + 10 * multiplier) //can enter base stat from db if desired
    })

    $('#luck-select').on('change', (e) => {
        const multiplier = e.target.value
        $("#luck-stat").html({{ player_stats[2]}} + 5 * multiplier) //can enter base stat from db if desired
    })

    //sending stat boosters to server
    //maybe update initiative to 0? or 'pending'? for use with conditional rendering of elements
    $("#submit-stats-btn").on('click', (e) => {
        e.preventDefault()
        const statsArray = [
            parseInt($("#attack-stat").html()),
            parseInt($("#hitpoints-stat").html()),
            parseInt($("#luck-stat").html())
        ]
        $("#attack-input").val(statsArray[0])
        $("#hitpoints-input").val(statsArray[1])
        $("#luck-input").val(statsArray[2])
        $("#submit-stats-form").submit()
    })

    //submit initiative roll data to server and calculate battle if opponent ready
    $('#battle-btn').on('click', (e) => {
        e.preventDefault()
        $("#initiative_input").val(dice.roll())
        $("#submit-initiative-form").submit()
    })

    //dice parameters
    let dice = {
        sides: 6,
        roll: function () {
            let randomNumber = Math.floor(Math.random() * this.sides) + 1;
            return randomNumber;
        }
    }

    //submit dice roll data to server
    let dicePlaceHolders = document.getElementsByClassName('dice-placeholder')

    for (let i = 0, l = dicePlaceHolders.length; i < l; i++) {
        //apply class name to dice-placeholder forms
        dicePlaceHolders[i].parentElement.classList.add(`dice-form-${i}`)

        //add event listeners
        dicePlaceHolders[i].addEventListener('click', (e) => {
            e.preventDefault()
            const submitForm = document.querySelector(`.dice-form-${i}`)
            const rollValue = dice.roll()

            //get children of form
            const formChildren = submitForm.children

            //update roll_value and roll_index form fields
            formChildren[0].value = rollValue
            formChildren[1].value = i

            submitForm.submit()

        })
    }

</script>

<style>
    .dice-box {
        height: 12vh;
        margin: 8px;
        border: solid aquamarine 2px;
        border-radius: 16px;
    }

    .dice-box img {
        max-height: 100%;
        max-width: 100%;
        height:auto;
        margin: auto;
    }

    .dice-box h1 {
        color: white;
        margin-top: auto;
        margin-bottom: auto;
    }


    .stat-row {
        color: white;
        margin-top: 4px;
        margin-bottom: 4px;
        height: 6vh;
        border: solid aquamarine 2px;
        border-radius: 16px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .game-btn {
        width: 90%;
        height: 12vh;
        white-space: normal;
    }

    .battle-box {
        height: 37vh;
        border: solid aquamarine 2px;
        border-radius: 16px;
        margin-bottom: 1vh;
    }

    #battle-stage {
        display: flex;
        justify-content: space-between;
    }

    #battle-stage img {
            
            max-width: 20%;
            
    }

    @media only screen and (max-width: 600px) {

        #battle-stage img {
            
            max-width: 40%;
            
        }

    }

    

    #duck-placeholder {
        max-height: 85%;
        max-width: 85%;
        height:auto;
        margin: auto;
        padding-top: 8vh;
        padding-bottom: 4vh;
        display: block;
    }

    #battle-label {
        color: white;
        text-align: center;
    }

    .info-header {
        color:white;
        height: 7vh;
    }

</style>

{% endblock %}