{% extends '_layout.html' %}

{% block content %}


    <div class="container">
        
            <h1 style="color: white;">Register </h1>

        
        <form action={{url_for("users.create")}} method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">

                <label for="InputE-mail">E-mail</label>
                <input type="text" class="form-control" name="email" id="e-mail" placeholder="e-mail">
            </div>
            <div class="form-group">

                <label for="InputUsername">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="username">
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="password">
            </div>

            <button type='submit' class="btn btn-info">Register</button>

        </form>

    </div>
    </div>
    </div>

    <style>
        .container {
            height: 93vh;
        }
    </style>

    <script>
        $("form").validate({
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true
                },
            }
        });
    </script>

{% endblock %}