{% extends '_layout.html' %}


{% block title %}
Active Games
{% endblock %}

{% block content %}

    {% for game in games %}
    <div class="card rounded-lg m-2">
        <div class="card-body">
            <h3 class="card-title">{{game.player_1.username}} vs. {{game.player_2.username}}</h3>
                        <h3 class="card-title">{{game.player_1.username}} vs. {{game.player_2.username}}</h3>

            <h5 class="card-subtitle mb-2 text-muted">game id: {{game.id}}</h5>
            <hr>
            <div class="d-flex flex-row justify-content-between">
                <span>
                    <h1>{{game.player_1_score}}</h1>
                    <h5 class='text-muted'>{{game.player_1.username}}</h5>
                </span>
                <span>
                    <h1>{{game.player_2_score}}</h1>
                    <h5 class='text-muted'>{{game.player_2.username}}</h5>
                </span>
            </div>
        </div>
        <div class="card-footer d-flex flex-row-reverse">
            <form action={{ url_for('games.show', username=username, game_id=game.id)}} method="GET">
                <input type='submit' class='btn btn-info' value="View Game">
            </form>
        </div>
    </div>
    
    {% endfor %}

{% endblock %}