{% extends "_layout.html" %}

{% block content %}

<div class="row no-gutters" style="height: 100vh" >
    <div style="background-color: blue" class="col-12 col-md-6">
        <h1>Player 1</h1>
        <img src="" alt="User Profile Img">

    </div>

    <div style="background-color: black; " class="col-12 col-md-6 row justify-content-center">
        <form action="{{ url_for('games.create_new_game') }}">

            <div class="input-group">
                <input type="text" name="habit_1_name" placeholder="Habit 1" class="form-control col-md-8 " >
                
                <div class="form-group col-md-5" >
                    <select id="inputState" class="form-control" >
                        <option selected disabled >Choose...</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                </div>

            </div>

            <div class="input-group">
                <input type="text" name="habit_2_name" placeholder="Habit 2" class="form-control col-md-8 " aria-label="Text input with dropdown button" >
            
                <div class="form-group col-md-5" >
                    <select id="inputState" class="form-control" >
                        <option selected disabled>Choose...</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                </div>

            </div>

            <div class="input-group">
                <input type="text" name="habit_3_name" placeholder="Habit 3" class="form-control col-md-8 " aria-label="Text input with dropdown button" >
            
                <div class="form-group col-md-5" >
                    <select id="inputState" class="form-control" >
                        <option selected disabled >Choose...</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                </div>

            </div>
            
            <button>Submit</button>
    
        </form>

    </div>

</div>

{% endblock %}